---
version: "3.9"
services:
  minecraft_overviewer:
    image: mide/minecraft-overviewer:latest
    container_name: minecraft-overviewer
    environment:
      MINECRAFT_VERSION: "latest"
    volumes:
      - /srv/minecraftserver/minecraft-data:/home/minecraft/server/:ro
      - /srv/minecraft_overviewer/render:/home/minecraft/render/:rw
