---
version: "3.9"
services:
  minecraft_overviewer:
    image: mide/minecraft-overviewer:{{ minecraftoverviewer_image_version }}
    container_name: {{ minecraftoverviewer_container_name }}
    environment:
      MINECRAFT_VERSION: "{{ minecraftoverviewer_minecraft_version }}"
    volumes:
      - {{ minecraftoverviewer_minecraftserver_volume_directory }}:/home/minecraft/server/:ro
      - {{ minecraftoverviewer_render_volume_directory }}:/home/minecraft/render/:rw
