[Install]
WantedBy=multi-user.target

[Unit]
Description=minecraftoverview service
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/local/bin/docker-compose \
  --project-directory {{ minecraftoverviewer_docker_working_directory }} \
  --file {{ minecraftoverviewer_docker_working_directory }}/docker-compose.yml \
  --project-name minecraftoverview \
  down \
  --remove-orphans

ExecStartPre=/usr/local/bin/docker-compose \
  --project-directory {{ minecraftoverviewer_docker_working_directory }} \
  --file {{ minecraftoverviewer_docker_working_directory }}/docker-compose.yml \
  --project-name minecraftoverview \
  pull

ExecStart=/usr/local/bin/docker-compose \
  --project-directory {{ minecraftoverviewer_docker_working_directory }} \
  --file {{ minecraftoverviewer_docker_working_directory }}/docker-compose.yml \
  --project-name minecraftoverview \
  up

ExecStop=/usr/local/bin/docker-compose \
  --project-directory {{ minecraftoverviewer_docker_working_directory }} \
  --file {{ minecraftoverviewer_docker_working_directory }}/docker-compose.yml \
  --project-name minecraftoverview \
  down \
  --remove-orphans

Restart=no
TimeoutSec=3600
